.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height:5%
}
.wrapper{
    height: 95%;
}
.toolbar{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    background-color: rgb(236, 185, 252);
}